<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <style>
        body {
            background: url(https://images4.alphacoders.com/217/217394.jpg);
        }
    </style>
    <title>Кнопка</title>
</head>
<body>
<form th:action="@{/api}">
    <h2>Прогноз погоди та жарт</h2>
    <input type="text" th:name="city" placeholder="Введіть назву міста ..."/>
    <button type="submit" th:name="city" th:text="OK"/>
</form>

<h3 th:text="${jokeke}"></h3>

<h2 class="text-center" th:text="${cityty}"></h2>

<table style="width:40%; text-align: center">
    <tr>
        <th>Дата</th>
        <th>Час</th>
        <th>Температура</th>
    </tr>
    <tr th:each="dt: ${days}">
        <td th:text="${#dates.format(new java.util.Date(dt.dt * 1000), 'dd.MM.yyyy')}"/>
        <td th:text="${#dates.format(new java.util.Date(dt.dt * 1000), 'HH:MM')}"/>
        <td th:text="${dt.main.temp} + ' &#8451;'"/>
    </tr>
</table>
<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="js2.js"></script>
</body>
</html>